.imgContainer {
  background-image: url("https://picsum.photos/seed/picsum/800/800");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: 80% center;
}
